body {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: black;
    color: gold;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
}

.modal.active {
    display: flex;
    transform: translate(-50%, -50%) scale(1);
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}