body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

/*all header css*/
.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 18, 18);
    color: gold;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

#header-text {
    margin-bottom: 20px;
    font-size: 32px;
}

.form {
    margin-bottom: 10px;
}

input {
    background-color: rgb(56, 55, 55);
    color: gold;
}
/*header css ends */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(56, 55, 55);
}

.wrapper {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper.active {
    height: 250px;
    min-width: 300px;
    background-color: rgb(19, 18, 18);
    border: 2px solid black;
    color: rgb(88, 88, 167);
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
}

.modal.active {
    display: flex;
    transform: translate(-50%, -50%) scale(1);
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}